@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui/index.js" {
  themes: light, dark;
};

@plugin "daisyui/theme/index.js" {
  name: "light";
  default: true;
  --color-primary: #4DB04F;
  --color-secondary: #1B416B;
}

@plugin "daisyui/theme/index.js" {
  name: "dark";
  --color-primary: #4DB04F;
  --color-secondary: #1B416B;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
